@model IEnumerable<RobotTR.Portal.MVC.Models.JobViewModel>

@{
    ViewData["Title"] = "RoboTR | Vagas";
}

<h1>Vagas</h1>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <input type="button" class="btn btn-primary" value="Criar Vaga" onclick="@("window.location.href='" + @Url.Action("Create", "Jobs") + "'");" />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Título da vaga
            </th>
            <th>
                Nível
            </th>
            <th>
                Criador
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Level)
                    </td>*@
                @{
                    switch (item.Level)
                    {
                        case LevelEnum.Junior:
                            <td>
                                Júnior
                            </td>
                            break;
                        case LevelEnum.Middle:
                            <td>
                                Pleno
                            </td>
                            break;
                        case LevelEnum.Senior:
                            <td>
                                Senior
                            </td>
                            break;
                        default:
                            break;
                    }
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Owner)
                </td>
                <td>
                    <div class="btn-group" role="group">
                        @Html.ActionLink("Detalhes", "Update", new { jobId = item.Id }, new { @class =  "btn btn-primary"})
                        @Html.ActionLink("Deletar", "Delete", new { jobId = item.Id }, new { @class = "btn btn-danger"})
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
